@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*==================================HEADER===================================*/

header {
    height: 10vh;
    background-color: #189AB4;
}

/*Baby Blue
#D4F1F4

Blue Green
#75E6DA

Blue Grotto
#189AB4

Navy Blue
#05445E*/

/* Rosewater
#D8A7B1

Spearmint
#B6E2D3

Cream
#FAE8E0

Hot Pink
#EF7C8E 

Teal
#29A0B1

Teal Green
#167D7F

Spearmint
#98D7C2

Mint
#DDFFE7
*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
}


.logo {    
    cursor: pointer;
}

.img-cart {
    padding: 2px 2px;
    height: 2em;
    width: auto;
    filter: invert(100%);
}

.button-cart {
    background-color: #189AB4;
    border: none;
    cursor: pointer;
    border-radius: 15%;
}

.button-cart:hover {
    background-color: #FFF;
}

.img-cart:hover {
    filter: none;
}

/* .nav-header {
    display: flex;
    justify-content: flex-end;
} */

.container-logo, .container-button {
    align-items: center;
}





/*==================================SECTION-SLIDER===================================*/

.section-slider {
    height: 70vh;
    /* background-color: rosybrown; */
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider ease-in-out infinite;
}

#slider figure div {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: 0%;
    }

    /* 95% {
        left: -300%;
    } */

    100% {
        left: 0%;
    }

}


.slider-item {
    display: flex;
    /* padding: 1em 1em; */
    justify-content: center;
    align-items: center;
}

.img-item {
    height: auto;
    width: 200vh;
}



























